* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 1rem;
  text-align: center;
}

#results,
#calculator {
  margin: 2rem auto;
  width: 30rem;
  max-width: 90%;
  border-radius: 10px;
  padding: 1rem;
}

#results {
  text-align: center;
}

#calculator input {
  font: inherit;
  font-size: 2rem;
  border: 2px solid darkgray;
  width: 25rem;
  padding: 0.6rem;
  margin: auto;
  display: block;
  border-radius: 12px;
}

#calculator input:focus {
  outline: none;
}

#calculator button {
  font: inherit;
  background: black;
  color: white;
  padding: 1rem;
  cursor: pointer;
  border-radius: 6px;
}

#calculator button:focus {
  outline: none;
}

#calc-actions button {
  width: 4rem;
}

#calc-actions {
  margin-top: 2rem;
  text-align: center;
}

#learned-js-one {
  margin: 0 auto;
  background-color: aqua;
  padding: 1rem;
  border-radius: 6px;
  width: 26rem;
}

#arrays-objects-compare {
  font-weight: 500;
}

#learned-js-two {
  margin: 2rem auto;
  background-color: aqua;
  padding: 1rem;
  border-radius: 6px;
  width: 26rem;
  font-weight: 500;
}

#learned-js-three {
  margin: 2rem auto;
  background-color: aqua;
  padding: 1rem;
  border-radius: 6px;
  width: 26rem;
  font-weight: 500;
}

#learned-js-four {
  margin: 2rem auto;
  background-color: aqua;
  padding: 1rem;
  border-radius: 6px;
  width: 26rem;
  font-weight: 500;
}

#learned-js-five {
  margin: 2rem auto;
  background-color: aqua;
  padding: 1rem;
  border-radius: 6px;
  width: 26rem;
  font-weight: 500;
}

#monster-killer-link {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#favorite-movies {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#movie-list {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#js-oop-mini-shop {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#js-oop-practice-project {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: blue;
}
